@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "poppins", Arial, sans-serif;
  }
  h1,
  h2,
  h3 {
    font-family: "Be Vietnam Pro", Arial, sans-serif;
  }
}

.smooth-trans {
  transition: all 0.2s ease;
}

.w-5 {
  width: 22px;
  color: #ffffff80;
}

nav.active {
  visibility: visible !important;
  height: max-content !important;
}

.nav-items:hover > a > .fa-chevron-right {
  transform: rotate(90deg);
}

.nav-items > ul {
  transition: all 0.2s;
}

.desktop-tree-menu > ul {
  min-width: 150px !important;
  opacity: 0;
}

.desktop-tree-menu:hover > ul {
  visibility: visible !important;
  top: 2rem;
  opacity: 1;
}
